.app-footer {
    background-color: #2c3e50;
    /* Mismo tono oscuro que la navegación */
    color: white;
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;
    /* Distribuir los botones uniformemente */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra superior sutil */
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    /* Fijar al fondo de la ventana */
    bottom: 0;
    left: 0;
    z-index: 10;
    /* Asegurar que esté por encima de otros elementos */
}

.footer-content {
    display: flex;
    width: 100%;
    max-width: 768px;
    /* Ancho máximo para centrar en pantallas grandes (igual que la navegación) */
    justify-content: space-around;
    /* Distribuir los botones uniformemente */
    align-items: center;
}

.footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    width: 100px;
    height: 65px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    min-width: 60px;
    /* Ancho mínimo para los botones */
    box-sizing: border-box;
}

.footer-button:hover {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    background-color: #404d5c;
}

.footer-button span {
    font-size: 0.8em;
    margin-top: 5px;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .app-footer {
        justify-content: center;
        /* Centrar la barra en pantallas grandes */
    }

    .footer-content {
        justify-content: space-around;
        /* Distribuir los botones uniformemente */
    }
}